@import url("../css/font.css");


html, body{
    margin: 0%;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      tema colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
   

    /* fade color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --mat: linear-gradient( to right, #43e97b 0%, #38f9d7 100%);
    --fat: linear-gradient(to right, #434343 0%, black 100%);
    --tap: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    --brn: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    --blc: linear-gradient(to right, #434343 0%, black 100%);
    --hct:  linear-gradient( 181deg,  rgba(249,97,100,1) 0.4%, rgba(250,126,129,1) 89.6% );
    --art: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --vrt: radial-gradient( circle farthest-corner at 10% 20%,  rgba(246,187,187,1) 0%, rgba(249,219,217,1) 90% );
    /*      tema font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Classes globais ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
    
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
  
}

h2{
    font-family: var(--Lexend);
    margin: center;
    
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
    color:black;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Lexend);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}



.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background: var(--art);
}

.nav .nav-items .nav-link:hover a{
    color: var(--bg-color);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/* -------x------- navbar ---------x------- */


/* ----------------- Conteúdo principal----------- */

/* --------------- Titulo do site ---------------- */
main .site-title{
    background: url('../img/6.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--sky);
}

main .site-title h1{
    margin: .3rem;
    color: white;
}

main .site-title .btn{
    margin: 1.8rem;
    background-color:white;
    
    
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    
}

/* --------x------ Titulo do site--------x------- */

/* --------------- Blog Carousel-1 ------------ */


main section #blog-1{
    background: var(--brn);
    top: 10rem;
    margin: auto;
    height: 75vh;
    width: 100%;
    background-size: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}


main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
    border-radius: 50px;
}

main .blog-content .btn-blog:hover{
    opacity: 0.8;
}

main .blog-content span{
    display: block;
    color: green ;
    margin-top: 17px;
}



/*---------------*/


.beneficios{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
}





/*-- //effect --*/



/* -------x------- Blog Carousel -----x------ */

/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Janela de visualização menor ou igual a 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Janela de visualização menor ou igual a 1130px   x     */


/*              Janela de visualização menor ou igual a 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Janela de visualização menor ou igual a 750px       x     */


/*              Janela de visualização menor ou igual a 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}
/*              Janela de visualização menor ou igual a 520px            */
































/*              Janela de visualização menor ou igual a 1130px           */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Janela de visualização menor ou igual a 1130px    x     */


/*              Janela de visualização menor ou igual a 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x     Janela de visualização menor ou igual a 750px       x     */


/*              Janela de visualização menor ou igual a 520px           */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}


.mobile-nav-button {
    position: absolute;
    right: 355px;
    top: 24px;
    z-index:9;
}
/* Overlay style */
.overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(12, 12, 12, 0.98);
z-index: 99;
}

/* Overlay closing cross */
.overlay .overlay-close {
width: 40px;
height: 40px;
position: absolute;
right: 50px;
top: 50px;
overflow: hidden;
background: none;
color: #fff;
border: 2px solid #7a7f7f;
cursor: pointer;
}

/* Menu style */
.overlay form {
text-align: center;
position: relative;
top: 50%;
height:auto;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
button#trigger-overlay {
outline: none;
border: none;
background: none;
text-align: center;
color: #131415;
font-size: 1.2em;
cursor: pointer;
}

.search form input[type="search"] {
width: 100%;
padding: 1em 1.5em;
font-size: 17px;
color: #fff;
outline: none;
background: none;
-webkit-appearance: none;
border: 2px solid #fff;
-webkit-appearance: none;
letter-spacing: 4px;
border-radius:0;
}
.search button.btn.btn-primary.submit{
color: #fff;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
outline: none;
letter-spacing: 2px;
padding: 0.9em 3em;
border: none;
cursor: pointer;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-webkit-appearance: none;
background: #ff4e00;
border-radius:0;
}
/* Menu style *
.overlay ul {
list-style: none;
padding: 0;
margin: 0 auto;
display: inline-block;
height: 100%;
position: relative;
}

.overlay ul li {
display: block;
height: 20%;
height: calc(100% / 5);
min-height: 54px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.overlay ul li a {
font-size: 54px;
font-weight: 300;
display: block;
color: #fff;
-webkit-transition: color 0.2s;
transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
color: #f0f0f0;
}

/* Effects */
.overlay-door {
visibility: hidden;
width: 0;
left:49.99%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
visibility: visible;
width: 100%;
-webkit-transition: width 0.5s;
transition: width 0.5s;
}

.overlay-door form {
position: absolute;
left: 50%;
-webkit-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);
width: 45%;
}

.overlay-door form,
.overlay-door .overlay-close {
opacity: 0;
-webkit-transition: opacity 0.3s 0.5s;
transition: opacity 0.3s 0.5s;
}

.overlay-door.open form,
.overlay-door.open .overlay-close {
opacity: 1;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s;
}

.overlay-door.close form,
.overlay-door.close .overlay-close {
-webkit-transition-delay: 0s;
transition-delay: 0s;
}

/*--/responsive--*/
@media(max-width:1366px) {
.mobile-nav-button {
    position: absolute;
    right: 245px;
    top: 24px;
}
}
@media(max-width:1280px) {
.mobile-nav-button {
    position: absolute;
    right: 230px;
    top: 24px;
}
}
@media (max-width: 1080px){
.mobile-nav-button {
    position: absolute;
    right: 200px;
    top: 24px;
}
}
@media (max-width: 1050px){
.mobile-nav-button {
    position: absolute;
    right: 195px;
    top: 24px;
}
.overlay-door form {
    width: 70%;
}
}
@media (max-width: 1024px){
.mobile-nav-button {
    position: absolute;
    right: 185px;
    top: 24px;
}
}
@media (max-width:767px){
.mobile-nav-button {
    position: absolute;
    right: 185px;
    top: 36px;
}
}
@media (max-width:640px){
.mobile-nav-button {
    position: absolute;
    right: 112px;
    top: 36px;
}
.overlay-door form {
    width: 90%;
}
}
@media (max-width:480px){
.mobile-nav-button {
    position: absolute;
    right: 70px;
    top: 36px;
}

}
@media (max-width:375px){
.mobile-nav-button {
    position: absolute;
    right: 46px;
    top: 36px;
}
}
/*--//responsive--*/  